/* 
HTML TAGS
*/
body, html {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 2rem;
}
header {
    background-color: teal;
    color: white;
    padding: 70px;
}

main {
    padding: 20px;
}

/* classes */

.career-img {
    object-fit: contain;
    height: 300px;
    width: 100%;
}

.contact-details {
    /* Note to self, use this for further styling of detals*/
}

.contact-details--font {
    font-size: 0.8rem;
    
}

.cv-margin-bottom--md {
    margin-bottom: 25px;
}

.cv-margin-bottom--sm {
    margin-bottom: 15px;
}

.cv-margin-top--sm {
    margin-top: 15px;
}

.cv-margin-top--md {
    margin-top: 25px;
}

.cv--underline {
    border-bottom: 2px solid teal;
    padding-bottom: 30px;
    margin-bottom: 30px;
}


.my-profile {
    background-color: teal;
    color: white;
    
}

.profile-image {
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
}

.text-align--center {
    text-align: center;
}

.ul__list-style--inside {
    list-style:  inside;
    
}

.ul__list-style--square {
    list-style:  inside square;
}

.ul__padding--sides {
    padding: 0 20px;
}

/* IDs */

#next{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 900;

}
#profile-pic {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}




/* MEDIA QUERRIES */
@media only screen and (min-width: 1070px) {
/* 
HTML TAGS
*/

header {
    background-color: teal;
    color: white;
    height: 200px;
    padding: 70px;
    position: relative;
}

main {
    position: relative;
    padding: 20px 20px 20px 70px;
}

/* 
CLASSES
*/

.about-me {
   max-width: 600px; 
}

.about-me-heading {
    font-size: 2rem;
    padding: 30px;
}

.my-profile {
    position: absolute;
    right: 30px;
    top: 45px;
    background-color: #454747;
    min-height: 90vh;
    width: 350px;
    z-index: 3;
    padding: 20px 70px 70px 45px;
}


.cv--underline {
    border-bottom: 2px solid teal;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.cv-wrapper {
    padding: 30px 0 60px 0;
}

.header--underline-white {
    border-bottom: 2px solid white;
}

.link--decoration {
    text-decoration: none;
    border-bottom: 1px solid lightgreen;
}

.link--decoration:hover {
    cursor: pointer;
    font-size: 1rem;
    color: lightgreen;
}

.paper {
    margin: auto;
}
.paper--max-width {
    max-width: 1100px;
}

.profile-image {
    height: 250px;
    width: 250px;
}

.shadow {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.stack {
    background-color: white;
    color: #454747;
}

/* IDS */

#profile-pic {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 100%;
    object-fit: cover;
}

}